#exemplo {
   width: 200px;
   height: 200px;
   margin: 20px;
   border: 1px solid darkblue;
}

.verde {
   background-color: green;
}

.vermelho {
   background-color: red;
}

.azul {
   background-color: blue;
   color: white;
}

.preto {
   background-color: black;
   color: white;
}

.roxo {
   background-color: purple;
   color: white;
}

#botao {
   padding: 5px 30px;
}